<div class="wall-of-sparkies-ct ">
  <div class="wall-of-sparkies-block">

    <div class="clearfix"></div>
    <div class="sparkies-content-row align-center ">
      <!--wall-->
      <!-- <div class="marquee-content"> -->
      <div class="right-section-content">
        <div class="sparkie-icon-block">
          <img src="assets/common/images/coins_all.gif" alt="sparkie-logo" title="sparkie-logo" />
        </div>
        <h4>{{'wall of sparkie champs' | translate}}</h4>
        <p>{{'based on the sparkies earned between to' | translate: { date1:'20/07/2017', date2:'26/07/2017' } }}</p>
      </div>
      <div class="row align-center sparkiesRow">

        <div class="col">
          <div class="sparkies-champ-block">
            <div class="reward-icon">
              <img src="assets/common/images/reward.png" alt="reward-logo" title="reward-logo" />
              <span>600</span>
            </div>
            <div class="sparkies-champ-content">
              <div class="user-image">
                <img src="assets/common/images/profile1to3.png" alt="profile" title="profile" />
              </div>
              <h4>Ramanuzan</h4>
              <h5>{{ 'grade' | translate }} 1</h5>
              <p>Birla School, Kalyan, Thane Dist.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="sparkies-champ-block">
            <div class="reward-icon">
              <img src="assets/common/images/reward.png" alt="reward-logo" title="reward-logo" />
              <span>600</span>
            </div>
            <div class="sparkies-champ-content">
              <div class="user-image">
                <img src="assets/common/images/profile1to3.png" alt="profile" title="profile" />
              </div>
              <h4>Ramanuzan</h4>
              <h5>{{'grade' | translate }} 1</h5>
              <p>Birla School, Kalyan, Thane Dist.</p>
            </div>
          </div>
        </div>
      </div>


      <div class="row align-center sparkiesRow">
        <div class="col">
          <div class="sparkies-champ-block">
            <div class="reward-icon">
              <img src="assets/common/images/reward.png" alt="reward-logo" title="reward-logo" />
              <span>600</span>
            </div>
            <div class="sparkies-champ-content">
              <div class="user-image">
                <img src="assets/common/images/profile1to3.png" alt="profile" title="profile" />
              </div>
              <h4>Ramanuzan</h4>
              <h5>{{'grade' | translate }} 1</h5>
              <p>Birla School, Kalyan, Thane Dist.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="sparkies-champ-block">
            <div class="reward-icon">
              <img src="assets/common/images/reward.png" alt="reward-logo" title="reward-logo" />
              <span>600</span>
            </div>
            <div class="sparkies-champ-content">
              <div class="user-image">
                <img src="assets/common/images/profile1to3.png" alt="profile" title="profile" />
              </div>
              <h4>Ramanuzan</h4>
              <h5>{{'grade' | translate }} 1</h5>
              <p>Birla School, Kalyan, Thane Dist.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->

    </div>
  </div>
</div>
